body {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #fff;
}

h1,h2{
    font-family: 'Open Sans', sans-serif;
}
.posts{
    padding: 8px;
}
.firstpost {
    background-color: #d6d3d3;
    align-content: center;
    border-radius: 5px;
    width:60%;
    margin: auto;
}
.img1{
    padding: 5px;
}
.link1{
    padding: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: 700;

}
.firstpost:hover {
    background-color: #c6c7c9;
    width: 80%;
    margin: auto;
}
.sociallinks {
    text-decoration: none;
}
.paragraph{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
h2{
    text-align: left;
}
.paragraph li {
    padding: 10px;
}
.fungus {
    position: relative;
    
    background-color: black;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 50px;
    bottom: 100px;
    width: 70%;
    margin: auto;
    margin-bottom: 70px;
    


}
.fungus:hover{
    width: 80%;

    margin: auto;
    box-shadow: 5px 10px 18px black;
}
a{
    text-decoration: none;
    color: #fff;
    scroll-behavior: smoo;
}
.footer{
    ;
    
    background-color: black;
    color: #fff;
    padding: 30px 0 20px;
}
.copyright{
    color: #eaf6f6;
  font-size: 0.80em;
  padding-bottom: 10px;
  margin-top: 30px;
    
  }
.fab {
    padding: 0 20px;
}