body {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #fff;

}

h1,h2{
    font-family: 'Open Sans', sans-serif;
}
.posts{
    padding: 5px;
}
.firstpost {
    background-color: #d6d3d3;
    align-content: center;
    border-radius: 5px;
    width:60%;
    margin: auto;
}
.img1{
    padding: 10px;
}
.link1{
    padding: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: 700;

}
.firstpost:hover {
    background-color: #c6c7c9;
    width: 80%;
    
    margin: auto;
}
.sociallinks {
    text-decoration: none;
}
.paragraph{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
h2{
    text-align: left;
}
.fungus {
    
    background-color: black;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
   
    position: relative;
    top: 50px;
    width: 70%;
    margin: auto;


}
.fungus:hover{
    width: 80%;
    margin: auto;
    box-shadow: 5px 10px 18px black;
    
    
}
.second{
    top:10px
}
